<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" placeholder="Jon">
  <br><br>
  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" placeholder="Snow">
  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password here">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

    <a href="/auth/facebook">Register With Facebook</a>
    <a href="/auth/google">Register With Google</a>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
