<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if(successMessage) { %>
  <p class="success"> <%= successMessage %> </p>
<% } %>

<% if(userInfo) { %>
  <p> Welcome, <%= userInfo.username %> </p>
<% } %>

<% if(userInfo) { %>

  <a href="/secret">Secret Stuff</a> <br/><br/>
  <a href="/rooms/new">Add a new Room</a> <br/><br/>
  <a href="/rooms/index">Show my Rooms</a> <br/><br/>
  <a href="/kgb-files"> KGB-Files </a> <br/><br/>
  <a href="/logout">Log Out</a>
<% } else { %>
  <a href="/signup">Sign Up</a>
  <a href="/login"> Log In</a>
<% } %>
